@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@layer base {
  body {
    @apply bg-slate-900 font-body text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 300px !important;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
}
